<!-- eslint-disable prettier/prettier -->


<mat-card class="roster-section" appearance="outlined" [style]="
fullWidth
  ? 'margin: 0 !important;max-width: 100%; padding: 16px; '
  : 'padding: 16px; margin: 0px;'
" >


      <mat-card-title>Roster</mat-card-title>
    <mat-divider class="list-divider" />



    <mat-card appearance="outlined">
      <div class ="inner-column">
        <div class = header-section>
        <p class="pres-name">President </p>
        </div>
        <div class ="content-section"> 
        <div *ngIf="getPresident().id !== null" class="title">
          {{getPresident().name}}
          <button mat-button *ngIf="checkPermissions() | async">Edit</button>
          <button mat-button *ngIf="checkPermissions() | async" (click)="this.removeMember(getPresident())">Delete</button>
          <br>
        </div>
        </div>
      </div>
     </mat-card> 



     <mat-card appearance="outlined">
      <div class ="inner-column">
        <div class="header-section">
        <p class="pres-name">Officer(s) </p>
        </div>
        <div *ngIf="getOfficers().length > 0" class="title">
          <div *ngFor="let officer of getOfficers()">
            {{officer.name}}
            <button mat-button *ngIf="checkPermissions() | async">Edit</button>
            <button mat-button *ngIf="checkPermissions() | async" (click)="this.removeMember(officer)">Delete</button>
            <br>
          </div>
        </div>
      </div>
    </mat-card> 
 

    <mat-card appearance="outlined">
      <div class ="inner-column">
        <div class="header-section">
        <p class="pres-name">Members </p>
        </div>
        <div *ngIf="getGeneralMembers().length > 0" class="title">
          <div *ngFor="let member of getGeneralMembers()">
            {{member.name}}
            <button mat-button *ngIf="checkPermissions() | async">Edit</button>
            <button mat-button *ngIf="checkPermissions() | async" (click)="this.removeMember(member)">Delete</button>
            <br>
          </div>
        </div>
      </div>
    </mat-card>


    
    <a [routerLink]="['/organizations', this.organization?.slug, 'add']" *ngIf="checkPermissions()| async"><button mat-button color="warn">Add Member</button></a>
    <a
            [routerLink]="['/organizations', organization!.slug, 'roster', 'add']"
            *ngIf="checkPermissions() | async">
            <button mat-icon-button color="basic">
              <mat-icon>edit</mat-icon>
            </button>
    </a>

</mat-card>

