

.inner-column {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.content-section {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.title {
    margin: 0px;
    width: 50%;
}

.pres-name {
    font-weight: 500;
    margin: 0px;
    width: 75%;
}