<!-- eslint-disable prettier/prettier -->
<!-- HTML Structure of Organization Details Page -->

<!-- <div class="organization-grid">

    Organization Information Card
<div class="organization-card-container">

</div>
</div> -->

<organization-not-found-card
  *ngIf="organization === undefined; else eventDetails" />

<ng-template #eventDetails>
  <organization-details-info-card
    [organization]="organization"
    [profile]="profile"
    [roster]="roster"
    />

  <div class="event-listing-container">
    <event-list
      [eventsPerDay]="eventsPerDay"
      [organization]="organization"
      [selectedEvent]="null"
      [disableLinks]="false"
      [showHeader]="true"
      [showCreateButton]="(eventCreationPermission$ | async)!" />
  </div>
  <mat-card>
    <div class ="roster">
      <h2>{{organization.name}} Roster</h2>
      <mat-card>
        <h4> Primary Contact </h4>
        <p class="title">
          {{primaryContact}}
        </p>
        <button class="contact-button" (click)="contactPopup()">Contact</button>
      </mat-card>
      <mat-card>
        <h4> Organization President </h4>
        <p class="title">
          {{orgPresident}}
        </p>
      </mat-card>
      <mat-card>
        <h4> Organization Officer(s) </h4>
        <p class="title">
          {{orgOfficers}}
        </p>
      </mat-card>
      <mat-card>
        <h4> General Members </h4>
        <p class="title">
          {{roster}}
        </p>
      </mat-card>
      <organization-roster-card [organization]="organization"></organization-roster-card>
    </div>
  </mat-card>
</ng-template>
